@using PDPLib.Models
@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Exemplo de um Policy Enforcement Point para a disciplina de Segurança Informática.
            </p>
        </div>
    </section>
}
<h3>Instruções:</h3>
<p>
    Consulte a página @Html.ActionLink("Recursos", "Resources") para verificar as páginas de acesso restrito a que tem acesso com o utilizador actual.
    A lista de utilizadores e de recursos autorizados é obtida através de consulta do PDP - Policy Decision Point.
</p>
<p>
    A password por omissão de cada utilizador é 1234, existindo os seguintes utilizadores no sistema:
</p>
<ul>
    @foreach (User u in ViewBag.Users)
    {
        <li>
            @u.UserName (@ViewBag.userRoles[u.UserId])
        </li>
    }
</ul>

<p>
    A hierarquia de roles é a seguinte:
</p>
<img src="/Images/roles.png" />